body {  margin: 0;  }

.table {
    background-color: #cccccc;
    padding: 1px;
    display: inline-flex;
    flex-direction: row;
    min-width: 100%;
    min-height: 100px;
}

.table > .task {
    background-color: #e5e5e5;
    margin: 10px 10px 10px 10px;
    /*border: 2px solid white;*/
    box-shadow: 0 0 8px rgba(0,0,0,1);
    padding: 9px;
    width: 282px;
}

.task-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #aaaaaa;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;

    background: #a3a3a3; /* Old browsers */
    background: -moz-linear-gradient(top, #a3a3a3 0%, #666666 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a3a3a3 0%,#666666 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a3a3a3 0%,#666666 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}

.task-title {
    background-color: #cccccc;
    text-align: center;
    border: none;
}

.task-content {
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
    height: 140px;
    resize: none;
    border: none;
    text-align: left;
    padding: 4px;
}


.button-add-task, .button-save-task, .button-close-task, .button-add-card{
    /*margin-top: 10px;*/
    /*height: 30px;*/
    /*box-shadow: 0 0 4px rgba(0,0,0,1);*/
    /*color: black;*/
}

.layout-buttons-card > .button-close-task {
    box-shadow: none;
}

.layout-buttons > .button-save-task {
    width: 120px;
}

.layout-buttons-card, .layout-buttons {
    display: flex;
    justify-content: space-between;
}

.button-save-task {
    position: inherit;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 10px 0 0 0;
}

.layout-buttons-table {
    display: flex;
    flex-direction: column;
}

.layout-buttons {
    width: 100%;
}

.layout-buttons-table > .button-add-task, .button-save-task {
    width: 100px;
}

.layout-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.layout-buttons-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.layout-buttons-card > .button-close-task {
    height: 20px;
    width: 20px;
    padding: 0;
}

